body {
	margin: 10px;
}
header{
	display: -webkit-flex;
   	display:         flex;
   	-webkit-flex-flow: row;
            flex-flow: row;
	justify-content:center;
	align-content:center;
	align-items:center;
	background-color: #5b7989;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;

}
header > #titulo{
	-webkit-flex: 1 1 75%;
           flex: 1 1 75%;
   -webkit-order: 1;
           order: 1;
	align-self: auto;  
	min-width: 0;
	min-height: auto;
}
header > #titulo h4{
	margin-left:10px;
	color:#FFF;
	text-shadow:2px;
	}
	
	
	
header >.navigation {
  list-style: none;
  margin: 0; 
  
  background: #5b7989;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

header >.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

header >.navigation a:hover {
  background: darken(deepskyblue, 2%);
}

@media all and (max-width: 800px) {
  header >.navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  header >.navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  header >.navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  header >.navigation li:last-of-type a {
    border-bottom: none;
  }
}

#contenido{
	margin-top:20px;
  	display: -webkit-flex;
   	display:         flex;
   	-webkit-flex-flow: row;
            flex-flow: row;
	justify-content:center;
	align-content:center;
	align-items:center;
	}
	
#imagenCentral {
	display: flex;
  	min-height: 100vh;
 	margin: 0;
}

#imagenCentral > img{
	margin: auto;
	width:750px;
	height:auto;

}


#contenido > #imagenIzquierda {
margin-right:90px;
   -webkit-flex: 1 1 50%;
           flex: 1 1 50%;
   -webkit-order: 2;
           order: 2;
	align-self: auto;
	min-width: 0;
	min-height: auto;
}

#contenido > #imagenIzquierda > img{
	width:400px;
	height:300px;
}

#contenido > #imagenDerecha {
	margin:2px;
   -webkit-flex: 1 1 50%;
           flex: 1 1 50%;
   -webkit-order: 3;
           order: 3;
	align-self: auto;
	min-width: 0;
	min-height: auto;
}

#contenido > #imagenDerecha > img{
	width:450px;
	height:300px;
}



footer{
   	margin: 0px;
   	padding: 0px;
  	display: -webkit-flex;
   	display:         flex;
   	-webkit-flex-flow: row;
            flex-flow: row;
	background-color:#C6d5c5;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	justify-content:center;
	align-content:center;
	align-items:center;
	}

footer > #contactos {
	 margin: 4px;
  	 padding: 5px;
   -webkit-flex: 1 1 auto;
           flex: 1 1 auto;
   -webkit-order: 1;
           order: 1;
	align-self: auto;
	min-width: 0;
	min-height: auto;
}

footer > #terminos {
	 margin: 4px;
   	 padding: 5px;
   -webkit-flex: 1 1 auto;
           flex: 1 1 auto;
   -webkit-order: 2;
           order: 2;
	align-self: auto;
	min-width: 0;
	min-height: auto;
	
}

footer > #redes {
	 margin: 4px;
   	padding: 5px;
   -webkit-flex: 1 1 auto;
           flex: 1 1 auto;
   -webkit-order: 3;
           order: 3;
	align-self: auto;
	min-width: 0;
	min-height: auto;
	
}

footer > #derechos {
	 margin: 4px;
   padding: 5px;
   -webkit-flex: 1 1 auto;
           flex: 1 1 auto;
   -webkit-order: 4;
           order: 4;
	align-self: auto;
	min-width: 0;
	min-height: auto;
	
}


/* Too narrow to support three columns */
  @media all and (max-width: 640px) {
  
   footer {
    -webkit-flex-flow: column;
            flex-flow: column;
   }

   footer > #contactos, #terminos , #redes, #derechos {
    /* Return them to document order */
    -webkit-order: 0;
            order: 0;
   }
  
    footer > #contactos, #terminos , #terminos, #derechos {
    min-height: 50px;
    max-height: 50px;
   }
