body {
   background: #FFF;
  }

.flex-container{
	width			:90%;
	max-width		:960px;
	min-width		:320px;
	margin			:20px auto;		
	
}

.item{
	color		:	#FFF;
	text-align	:	center;
	margin		:	0 auto;
	font-size	:	25px;
}

header{
	height						:100px;
	background-color			:#5b7989;
	overflow					:hidden;
	text-align					:center;
	border-top-left-radius		:10px;
	border-top-right-radius		:10px;	

	flex						:1 100%;
}
header h1{
	line-height	:100px;
	margin		:0;
	font-size	:25px; 
	float		:left;
	width		:40%;
	padding-left:20px;
	box-sizing	:border-box;
	text-shadow	:2px 2px 2px #02010a;
}
header nav{
	float			:left;
	width			:60%;
	line-height		:100px;
	padding-right	:20px;
	box-sizing		:border-box;
}
header ul{
	list-style-type	:none;	 		
	margin			:0;
	padding			:0;	
	
	display			:flex;
	flex-flow		:row wrap;
	justify-content	:flex-end;  
}
header ul li{
	margin		:0 5px;	
	font-size	:20px;	
	cursor		:pointer;
	color		:#D5C5C5;
}
header ul li:hover{
	color:#fff;
}

#cuerpo{	

	flex:1 100%;
}

#contenido{
  	display				: -webkit-flex;
   	display				:flex;
   	-webkit-flex-flow	:row;
            flex-flow	:row;
	justify-content		:center;
	align-content		:center;
	align-items			:center;
	background			:#d5c75f;
	border				:1px;
}
	
#imagenCentral {
	display		:flex;
   	margin		:0;
	background:#82c3a6;
}

#marcoImagenCentral{
	width: 80%;
	height:90%;
	margin: 0 auto;
	padding-top:20px;
	padding-bottom:20px;

}
#imagenCentral > #marcoImagenCentral > img{
	margin	: auto;
	width	: 100%;
    height	: auto;

}


#contenido > #imagenIzquierda {

	-webkit-flex	:1 1 50%;
    flex			:1 1 50%;
   	-webkit-order	:1;
    order			:1;
}

#contenido > #imagenIzquierda > img{
	width : 100%;
    height: auto;
}

#contenido > #imagenDerecha {
	-webkit-flex	:1 1 50%;
    flex			:1 1 50%;
    -webkit-order	:2;
    order			:2;
	
}

#contenido > #imagenDerecha > img{
	width : 100%;
    height: auto;
}


footer{
   	display						:-webkit-flex;
   	display						:flex;
   	-webkit-flex-flow			:row;
            flex-flow			:row;
	
	background-color			:#C6d5c5;
	
	border-bottom-left-radius	:10px;
	border-bottom-right-radius	:10px;
	
	justify-content				:center;
	align-content				:center;
	align-items					:center;
	
	flex						:1 100%;
}

footer > #contactos {

	width			:25%;
    -webkit-flex	:1 1 auto;
           flex		:1 1 auto;
    -webkit-order	:1;
           order	:1;
	align-self		:auto;
	min-width		:0;
	min-height		:auto;
	margin			:5px;
}

footer > #terminos {

	width			:25%;
    -webkit-flex	:1 1 auto;
           flex		:1 1 auto;
    -webkit-order	:2;
           order	:2;
	align-self		:auto;
	min-width		:0;
	min-height		:auto;
	margin			:5px;
}

footer > #redes {

	width			:25%;
    -webkit-flex	:1 1 auto;
           flex		:1 1 auto;
    -webkit-order	:3;
           order	:3;
	align-self		:auto;
	min-width		:0;
	min-height		:auto;
	margin			:5px;
}

footer > #derechos {

	width			:25%;
    -webkit-flex	:1 1 auto;
           flex		:1 1 auto;
    -webkit-order	:4;
           order	:4;
	align-self		:auto;
	min-width		:0;
	min-height		:auto;
	margin			:5px;
}

 @media all and (max-width: 640px) {
  
   .flex-container, .item{
    -webkit-flex-flow: column;
            flex-flow: column;
   }

   #main > article, #main > nav, #main > aside {
    /* Return them to document order */
    -webkit-order: 0;
            order: 0;
   }
  
   #main > nav, #main > aside, header, footer {
    min-height: 50px;
    max-height: 50px;
   }
  }